*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: rgba(248,255,244, 0.8);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    z-index: 1;
}

.div1{
    display: flex;
    align-items: center;
}

.h11{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    color: rgb(0, 131, 0);
}

.li1{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

.a1{
    color: rgb(43, 41, 41) ;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.a1:hover{
    color: rgb(0, 131, 0);
    transition: all ease-out ;
    font-size: 17px;
    font-weight: 600;
}

.btn{
    background-color:rgb(0, 131, 0);
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    font-size: 16px;

}

.btn:hover{
   transition: all 0.3s ease-out 0s;
   background: rgb(20, 92, 83);
  
}

button{
    position: relative;
    background-color:rgb(0, 87, 0);
    color: white;
    padding: 17px 70px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    overflow: hidden;
 }
 
 
 button:before{
    content: '';
    position: absolute;
    height: 100px;
    width: 20px;
    background: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    top: -50px;  
    transition: 0.9s;
    transform: rotate(-20deg) translateX(-120px);
 
 }
 
 button:hover:before{
    transform: rotate(-20deg) translate(190px, 70px)
 }
 
 


.hamburger{
    display: none;
    cursor: pointer;
    color: rgb(0, 131, 0);
    font-size: 1.5rem;
    margin-right: 10px;
}

.bar{
    background-color: rgb(0, 131, 0);
    display: block;
     width: 24px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }

.logo-image{
    width: 35px;
}

/*dropdown menu*/

.dropdown-menu{
    display: none;
    position: fixed;
    right: -100%;
    top:70px;
    width: 100%;
    gap: 0;
    flex-direction: column;
    text-align: center;
    background-color: rgba(248,255,244,0.8);
    overflow: hidden;
    transition:  0.3s;
    
}

.dropdown-menu.active{
    right: 0;
}

.li2{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 16px 0;
    font-family: Arial, Helvetica, sans-serif;


}

.dropclass {
    color: rgb(0, 131, 0);
    text-decoration: none;
    letter-spacing: 0.24px;
    line-height: 30px;
    font-weight: bolder;
}



/**payments**/
.payment-colour{
    background-color: rgba(248,255,244);
    display: flex;
    flex-direction: column;
    font-size: 17px;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 50px;
}
.payment{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.mid{
   margin: auto;
}

.wb{
    width: 70px;
}

label{
    color:#fff;
    font-family: sans-serif;
    font-size: 18px;

    
}




.mp1{
     font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 23px;
    text-align: center;
    


}
.mp{
    color: rgb(0, 87, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
    font-family:  sans-serif;
}


.service1{
    background-color: rgb(0, 87, 0);
    border-radius: 10px;
    width: 100%;
    padding-bottom: 70px;
    padding-top: 30px;
}



.box-container{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
select{
    border:none;
    outline:none;
    padding: 10px 5px;
    border-radius: 20px;
    margin-right:20px;
    color: black;
}

input{
    border: none;
    padding:10px 5px ;
    width:100px;
    border-radius:20px;
    outline: none;
    
}


.h2 {
    font-size: 35px;
    text-align: center;
}


.img4{
    width: 40px;
    padding-top: 40px;
}

.first-h3{
    color: rgb(0, 131, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    font-weight: 100;
}

.p2{
    color: rgb(46, 45, 45);
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 1.5;
}
.service2{
    background-color: rgb(0, 87, 0);
    width: 100%;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
}



.img5{
    width: 40px;
    padding-bottom: 10px;
}
.h3{
    padding-top: 38px;
    color: #fff;
}

h3{
    color: #fff;
    font-size: 17px;
    letter-spacing: 0,3px;
    padding-bottom: 10px;
    font-family:  sans-serif;
    line-height: 1.5;
}
    
.service3{
    background-color:rgb(0, 87, 0);
    width: 100%;
    border-radius: 10px;
    padding-top:70px ;
    padding-bottom: 70px;
}




.p4{
    color: rgb(46, 45, 45);
    padding-bottom: 10px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: 0.2px;
}

.a3{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(22, 21, 21);
    font-family: sans-serif;
}

.middle{
    display: flex;
    flex-direction: column;
    margin-left:30px;
    justify-content: center;
    margin-top: 20px; 
    
  
    
}


.buttoni{
    background-color:#fff;
    text-align: center;
    color: rgb(0, 87, 0);
    padding: 10px 15px;
    width: 70%;   
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 17px;
    margin-top: 40px;

}







.button{
    background-color:#fff;
    text-align: center;
    color: rgb(0, 87, 0);  
    width: 83%;  
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 17px;
    margin-top: 40px;

}

.button2{
    background-color:#fff;
    text-align: center;
    color: rgb(0, 87, 0);  
    width: 75%;  
    margin-left: 26px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 17px;
    margin-top: 40px;

}


.button2:hover,
.button:hover{
    transition: all 0.3s ease-out 0s;
    background: rgb(20, 92, 83);
    color: rgb(248,255,244);

}



/**footer-section**/

.footer-colour{
    background-color:rgb(0, 87, 0) ;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2;
    color:rgb(248,255,244);

}

.af{
    text-decoration: none;
    color: rgba(248,255,244);
    letter-spacing: 0.3px;
    font-size: 16px;
}
.footer1{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.h2-footer{
    font-family: sans-serif;
    font-size: 20px;
}

.div4{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size:15px ;
}
.btn1{
    background-color:#fff;
    color: rgb(0, 87, 0);
    padding: 14px 40px;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    font-size: 16px;
}

.btn1:hover{
    background-color: rgb(20, 92, 83);
    color: rgba(248,255,244);
}
.mp2{
    padding-bottom: 15px;
    font-size: 24px;
    width: 100%;
    padding-left: 50px;
    
}
.copyright{
    display: flex;
    justify-content: center;
    color:rgba(248,255,244);
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
    background-color: rgb(0, 87, 0);
    font-size: 15px;
    letter-spacing: 0.3px;

}

.toggle-btn{
    display: none;
    color: rgb(0, 131, 0);
    font-size: 1.8rem;
    cursor: pointer;
}

@media screen and (max-width:912px){
    .ul1{
        display: none;
    }

    .btn{
        display: none;
    }

    .hamburger{
        display: block;
        font-size: 1.8rem;
        color: rgb(0, 131, 0);
        
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
     }
  
     .hamburger.active .bar:nth-child(1){
        transform:translateY(8px)rotate(45deg);
     }
  
     .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px)rotate(-45deg);
     }


    .dropdown-menu{
        display: block;
        top: 60px;
        width: 100%;

    }

    .dropdown-menu.open{
        height:500px;
    }

    .payment{
        display: flex;
        flex-direction: column;
    }

    .footer-colour{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
}

@media screen and (max-width:540px){

    .ul1{
        display: none;
    }

    .btn{
        display: none;
    }

    .dropdown-menu{
        top: 60px;
        width: 100%;
    }

    .li2{
        gap: 10px;
    }

    .copyright{
        font-size: 12px;
    }
}

@media screen and (max-width:300px){


    .dropdown-menu{
        display: block;
        top: 60px;
        width: 100%;
    }

    .mp1{
        font-size: 25px;
    }

    .boxx{
        padding: 30px;
    }

    input{
        width:35px;
    }

    .copyright{
        font-size: 11px;
    }
}