*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    
}

header{
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: rgba(248,255,244, 0.8);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    z-index: 1;
}

.div1{
    display: flex;
    align-items: center;
}

.h11{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    color: rgb(0, 131, 0);
}

.li1{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}


.a1{
    color: rgb(43, 41, 41) ;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.a1:hover{
    color: rgb(0, 131, 0);
    transition: all ease-out ;
    font-size: 17px;
    font-weight: 600;
}

.btn{
    background-color:rgb(0, 131, 0);
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;

}

.btn:hover{
   transition: all 0.3s ease-out 0s;
   background: rgb(20, 92, 83);
  
}


.hamburger{
    display: none;
    cursor: pointer;
    color: rgb(0, 131, 0);
    font-size: 1.5rem;
    margin-right: 10px;
}

.bar{
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 131, 0);
}


.logo-image{
    width: 35px;
}

/*dropdown menu*/

.dropdown-menu{
    display: none;
    position: fixed;
    right: -100%;
    top:70px;
    gap: 0;
    width: 100%;
    background-color: rgba(248,255,244,0.8);
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    transition:  0.3s;
    
}

.dropdown-menu.active{
    right: 0;
}

.li2{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 16px 0;
    font-family: Arial, Helvetica, sans-serif;


}

.dropclass {
    color:rgb(0, 131, 0);
    text-decoration: none;
    letter-spacing: 0.24px;
    line-height: 30px;
    font-weight: bolder;
}




/* landing-page*/

.landing-page{
    background-color: rgba(248,255,244);
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 50px;
    
    

    
    
}

.container{
    display: inline-block;
    
}

.landing-page1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    padding-right: 70px;
    
    
 
}

.typing-text{
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;
    width: 100%;
    padding-top: 150px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s,
    cursor .3s step-end infinite alternate;

}


/*cursor blinking */
@keyframes cursor{
    50%{ border-color: transparent}
}

/*typing effect*/
@keyframes typing {
    from { width: 0}
}

.span1{
    color: rgb(0, 87, 0);
}

.p1{
    line-height: 6;
    font-size: 18px;
    letter-spacing: 0.01rem;
    color: rgb(0, 131, 0);
    font-family: Arial, Helvetica, sans-serif;
    
}
.landing-page2{
    display: flex;
    margin-top: 50px;

    

}

.igm{
    display: flex;
    flex-direction: row;
    gap:20px;
    
    

}

.img1{
    width: 200px;
    height: 100px;

}


.img2{
    width:190px;
    height: 100px;
    
}
.img3{
    width: 485px;
    margin-left: 35px;
    margin-top: 95px;

}


/*services-section*/

.services-colour{
    background-color:rgb(0, 87, 0); 
    font-family:  'Times New Roman', Times, serif;
    width:100%;
    height: fit-content;
    padding-bottom: 100px;
    overflow: hidden;
} 

.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services-h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: #fff;
    margin-top: 50px;
}

.h41{
    font-family: sans-serif;
    letter-spacing: 4px;
    color: #fff;
    
    
    
}

.h12{
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

.services-div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.service1{
    background-color: rgba(248,255,244);
    border-radius: 10px;
    width: 50%;
    padding-bottom: 70px;
    padding-top: 30px;
}

.service1:hover{
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{
        transform: translate(1px, 1px)rotate(0deg);
    }
    10%{
        transform: translate(-1px, -2px)rotate(-3deg);
    }
    20%{
        transform: translate(-3px, 0px)rotate(1deg);
    }
    30%{
        transform: translate(3px, 2px)rotate(0deg);
    }
    40%{
        transform: translate(1px, -1px)rotate(1deg);
    }
    50%{
        transform: translate(-1px, 2px)rotate(-1deg);
    }
    60%{
        transform: translate(-3px, 1px)rotate(0deg);
    }
    70%{
        transform: translate(3px, 1px)rotate(-1deg);
    }
    80%{
        transform: translate(-1px, -1px)rotate(1deg);
    }
    90%{
        transform: translate(1px, 2px)rotate(0deg);
    }
    100%{
        transform: translate(1px, -2px)rotate(-1deg);
    }
}


.box-container{
    padding-left: 10px;
    
}



.img4{
    width: 40px;
    padding-top: 40px;
}

.first-h3{
    color: rgb(0, 131, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    font-weight: 100;
}

.p2{
    color: rgb(46, 45, 45);
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 1.5;
}
.service2{
    background-color: rgba(248,255,244);
    width: 50%;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.service2:hover{
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{
        transform: translate(1px, 1px)rotate(0deg);
    }
    10%{
        transform: translate(-1px, -2px)rotate(-3deg);
    }
    20%{
        transform: translate(-3px, 0px)rotate(1deg);
    }
    30%{
        transform: translate(3px, 2px)rotate(0deg);
    }
    40%{
        transform: translate(1px, -1px)rotate(1deg);
    }
    50%{
        transform: translate(-1px, 2px)rotate(-1deg);
    }
    60%{
        transform: translate(-3px, 1px)rotate(0deg);
    }
    70%{
        transform: translate(3px, 1px)rotate(-1deg);
    }
    80%{
        transform: translate(-1px, -1px)rotate(1deg);
    }
    90%{
        transform: translate(1px, 2px)rotate(0deg);
    }
    100%{
        transform: translate(1px, -2px)rotate(-1deg);
    }
}


.img5{
    width: 40px;
    padding-bottom: 10px;
}

.p3{
    color: rgb(46, 45, 45);
    font-size: 17px;
    letter-spacing: 0,3px;
    padding-bottom: 10px;
    font-family:  sans-serif;
    line-height: 1.5;
}
    
.service3{
    background-color:rgba(248,255,244);
    width: 51%;
    border-radius: 10px;
    padding-top:70px ;
    padding-bottom: 70px;
}

.service3:hover{
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{
        transform: translate(1px, 1px)rotate(0deg);
    }
    10%{
        transform: translate(-1px, -2px)rotate(-3deg);
    }
    20%{
        transform: translate(-3px, 0px)rotate(1deg);
    }
    30%{
        transform: translate(3px, 2px)rotate(0deg);
    }
    40%{
        transform: translate(1px, -1px)rotate(1deg);
    }
    50%{
        transform: translate(-1px, 2px)rotate(-1deg);
    }
    60%{
        transform: translate(-3px, 1px)rotate(0deg);
    }
    70%{
        transform: translate(3px, 1px)rotate(-1deg);
    }
    80%{
        transform: translate(-1px, -1px)rotate(1deg);
    }
    90%{
        transform: translate(1px, 2px)rotate(0deg);
    }
    100%{
        transform: translate(1px, -2px)rotate(-1deg);
    }
}


.img6{
    width: 40px;
    padding-bottom: 10px;
}

.p4{
    color: rgb(46, 45, 45);
    padding-bottom: 10px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: 0.2px;
}

.a3{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(22, 21, 21);
    font-family: sans-serif;
}


/*review-section*/

.review-colour{
    background-color: rgba(248,255,244);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}

.div-review{
    color: rgb(0, 87, 0);
    font-family:  sans-serif;
}

.h1-review{
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 60px;
}

#slider{
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
    
    

}

#slider input[type=radio]{
    display: none;   
}


#slider label {
    cursor: pointer;
    text-decoration: none;
    
}

#slides {
    padding: 30px;
    border: 0px solid rgba(248,255,244);
    background: rgba(248,255,244);
    position:relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slides .inner {
    transition: margin-left 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 2;
    
}

#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: rgba(248,255,244);
}


#slides .slide_2 {
    background: rgba(248,255,244);

}

#slides .slide_3 {
    background: rgba(248,255,244);

}
.slide-content {
    padding: 5px;
    transition: 0.5s;
}




.navigation-auto{
    text-align: center;
    margin-bottom:-20px ; 
    
    
       
}

.navigation-auto div{
    border: 1px solid green;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 6px;
    background: rgba(248,255,244);
    transition: 0.2s;
    
}



#slide1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(0, 131, 0);
}

#slide2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(0, 131, 0);
}
#slide3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(0, 131, 0);

}


#bullets {
    margin-top: 2px;
    text-align: center;
    
}

#bullets label {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: transparent;
    margin:0 7px ;
    border: 0px solid green;
    border-radius: 100%;
    transition: 0.2s;
}

#bullets label:hover{
    background: transparent;
}


.span-review{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 87, 0);
    display: block;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.p-review{
    color: rgb(0, 87, 0);
    font-family:serif;
    font-size: 15px;
}


.p2-review{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 45, 45);

}


/**footer-section**/

.footer-colour{
    background-color:rgb(0, 87, 0);
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2;
    color:rgb(248,255,244);
    overflow: hidden;

}

.af{
    text-decoration: none;
    color: rgb(248,255,244);
    letter-spacing: 0.3px;
    font-size: 17px;
}
.footer1{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.h2-footer{
    font-family: sans-serif;
}

.div4{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size:15px ;
}
.btn1{
    background-color:#fff;
    color: rgb(0, 87, 0);
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 50px;
}

.btn1:hover{
    background-color: rgb(20, 92, 83);
    color: rgba(248,255,244);
}
.MPP{
    padding-bottom: 15px;
    font-size: 24px;
    width: 100%;
    
}
.copyright{
    display: flex;
    justify-content: center;
    color:rgb(248,255,244);
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
    background-color: rgb(0, 87, 0);
    font-size: 15px;
    letter-spacing: 0.3px;
    text-align: center;

}



/*RESPONSIVE*/

@media screen and (max-width: 1024px){
    .landing-page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing-page2{
        margin-top: 19px;
        overflow: hidden;
    }
}


@media screen and (max-width: 912px){

    
    .ul1{
     display: none;
    }

    .btn{
        display: none;
    }


   .hamburger{
    display: block;
    color:rgb(0, 131, 0);
    font-size: 1.8rem;   
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    


  .dropdown-menu{
        display: block;
        top: 60px;
        width:100%;

    }

  .dropdown-menu.open{
    height: 500px;
  }
    
    

    .landing-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
        
    }

    .landing-page1{
        margin-left: 30px;
        
    }


    .landing-page2{
        margin-top: 19px;
        overflow: hidden;
    }
    .services-colour{
        height: fit-content;
        padding-bottom: 50px;
    }

    .services-section{
        display: flex;
        flex-direction: column;
    }
    .services-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h12{
        font-family: sans-serif;
        font-weight: 900;
        font-size: 2rem;
        
    }

    .service1,
    .service2,
    .service3 {
        width: 100%;
    }

    
    .Technology-colour{
        display: flex;
        flex-direction: column;
    }

    .Technology-section{
        display: flex;
        flex-direction: column;
    }

    .box-container1{
        width: 95%;
        border-radius:10px;
        height: fit-content;
    }

    .review-colour{
        display: flex;
        flex-direction: column;
        overflow: hidden;

    }

    .div-review{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .h1-review{
        margin-top: 10px;
        font-size: 45px;

    }



    .footer-colour{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .footer1{
        padding-left: 20px;
    }

    .copyright{
    padding: 30px;
    
    }
    

}

/*RESPONSIVE*/


@media screen and (max-width: 540px){


   .ul1{
    display: none;
   }

   .dropdown-menu{
    top: 60px;
    width: 100%;
   }
   .li2{
    gap: 10px;
   }
   

   .footer-colour{
    display: flex;
   }

   .btn{
    display: none;
   }


   .typing-text{
    font-size: 26px;
    line-height: 1.5;
    margin-left: 45px;

  }

   .p1{
    margin-left: 45px;
  }




    .img1,
    .img2{
    width: 130px;
    margin-left:45px;
    
  }


   .img3{
    width: 80%;
    padding-right: 30px;
   }



  .h12{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    
    
  }

.service1,
.service2,
.service3 {
    width: 115%;
}


.Technology-colour{
    display: flex;
    flex-direction: column;
}

.Technology-section{
    display: flex;
    flex-direction: column;
}


.h13{
    font-size: 25px;

}


.h1-review{
    text-align: center;
    font-size: 30px;

}


.supported{
    font-size: 20px;
}

.footer-colour{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer1{
    margin-left: 30px;
}

.copyright{
    font-size: 13px;
    padding: 30px;

}

}



@media screen and (max-width: 300px){

    .dropdown-menu{
        display: block;
        top: 50px;
        width:100%;

    }

  

 .landing-page{
    display: flex;
    flex-direction: column;

 }

.landing-page2{
  display: flex;
  flex-direction: column;
  margin: auto;
}

 .typing-text{
    font-size: 19px;
 }

 .p1{
    font-size: 13px;
 }

 .img1,
 .img2{
    width: 90px;
 }


  .h12{
    font-size: 25px;
  }


  .indicator{
    width: 90%;
    margin-left: 25px;
  }
  .af{
    font-size: 15px;
  }
  
  

   .h1-review{
    font-size: 27px;
   }


   .supported{
    font-size: 15px;
   }

   .h2-footer{
    font-size:19px ;
   }

   .copyright{
    font-size: 10px;
   }
}